// Main variables
$size1: 4px;
$size2: 8px;
$size3: 12px;
$size4: 16px;
$size5: 20px;
$size6: 24px;
$size7: 28px;
$size8: 32px;
$size9: 36px;
$size10: 40px;
$size11: 44px;
$size12: 48px;
$size13: 52px;
$size14: 56px;
$main-font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

// Custom main sizes
$page-margin-desktop: 100px;
$page-margin-mobile: 16px;
$page-detail-content-margin-desktop: 180px;
$page-mobile-specs-padding-desktop: 160px;
$page-mobile-specs-padding-tablet: 40px;
$page-detail-button-width-desktop: 94px;
$page-detail-button-width-mobile: 90px;
$page-detail-button-height-desktop: 64px;
$page-detail-button-height-mobile: 48px;
$page-detail-img-min-width-desktop: 380px;
$page-detail-similar-margin-top-desktop: 140px;
$page-detail-similar-margin-top-mobile: 100px;
$page-detail-similar-card-width: 344px;
$page-detail-phone-image-size-mobile: 264px;
$page-cart-phone-image-size-mobile: 320px;
$component-vertical-list-titles-width-desktop: 380px;
$component-vertical-list-titles-width-tablet: 280px;
$component-vertical-list-titles-width-mobile: 180px;
$component-custom-button-min-width-desktop: 260px;

// Custom header sizes
$main-logo-width: 74px;
$main-logo-height: 24px;

// Colors
$main-color-black: #000000;
$main-color-white: #ffffff;
$main-color-grey: #cccccc;
$main-color-soft-grey: #f3f2f2;
$main-color-strong-grey: #c2bfbc;
$main-color-red: #df0000;

// Fonts
$default-p-size: $size3;
$default-font-weight: 300;
